@charset "utf-8";
/*————————————————————————————————*/
/* Reset */
/*————————————————————————————————*/
* {
  all: unset;
  unicode-bidi: normal;
  direction: ltr;
}

/*————————————————————————————————*/
/* Display */
/*————————————————————————————————*/
head,
link,
meta,
style,
title,
script {
  display: none;
}
html,
body,
p,
form {
  display: block;
}
input {
  display: inline-block;
}

::-webkit-scrollbar {
  width: 20px;
  background: #ffffff;
  margin: 0 2px 0 0;
}

::-webkit-scrollbar-track {
  box-shadow: 0;
  border-radius: 100px;
  background: black;
}

::-webkit-scrollbar-thumb {
  background: #fff;
  border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
  background: black;
  border: 0.1rem solid #fff;
}

html {
  overflow-y: scroll;
  cursor: url("common/cursor.png"), auto !important;
  cursor: -webkit-image-set(url("common/cursor.png") 1x, url("common/cursor_2x.png") 2x), auto !important;
}

a {
  cursor: url("common/cursor_on.png"), auto !important;
  cursor: -webkit-image-set(url("common/cursor_on.png") 1x, url("common/cursor_on_2x.png") 2x), auto !important;
}

input[type="submit"] {
  cursor: url("common/cursor_on.png"), auto !important;
  cursor: -webkit-image-set(url("common/cursor_on.png") 1x, url("common/cursor_on_2x.png") 2x), auto !important;
}

/*————————————————————————————————*/
/* Style */
/*————————————————————————————————*/
html {
  /* height: 100%; */
  background-color: rgb(255, 255, 255);
}

body {
  min-height: 100vh;
  min-height: 100svh;
  font-family: "neue-haas-grotesk-display", sans-serif;
  font-weight: 400;
  letter-spacing: 0.08em;
  display: grid;
  place-items: center;
}

.wrapper {
}

form {
  text-align: center;
  width: 100%;
  /* margin: calc(50vh - 100px) auto 0; */
  /* max-width: 300px; */
  /* width: 90vw; */
  display: grid;
  grid-template-columns: 250px auto;
  grid-column-gap: 5px;
}

@media (max-width: 500px) {
  form {
    grid-template-columns: 180px auto;
  }
}

input {
  font-size: 16px;
  font-weight: 400;
  width: 100%;
  height: 40px;
  border-radius: 2px;
  border-style: groove;
  border-color: #000000;
  color: #000000;
  background-color: #fff;
}

input[type="password"] {
  border: 1px solid #000;
}

input[type="password"]::placeholder {
  color: #bdbdbd;
}

input[type="submit"] {
  width: 85px;
  background-color: #000000;
  color: #fff;
  border: 1px solid #000;
}
@media (max-width: 500px) {
  input[type="submit"] {
    width: 80px;
  }
}

/* input::placeholder {
  color: #fff;
  -webkit-text-fill-color: #bdbdbd;
} */

p {
  text-align: center;
  word-wrap: break-word;
  overflow-wrap: break-word;
  font-weight: 400;
  font-size: 16px;
  margin-bottom: 20px;
  /* color: #000000;
  -webkit-text-fill-color: #000000; */
}
